@import "tailwindcss";

body{
   input, textarea, [contenteditable="true"] {
  caret-color: transparent;
}
}

.blob1{
  object-fit: cover;
  object-position: center;
  height: 12rem;
  width: 12rem;
  border-radius: 66% 34% 40% 60% / 50% 64% 36% 50%;
  border: white 2px solid;
}

.blob2{
  object-fit: cover;
  object-position: center;
  height: 13rem;
  width: 13rem;
  border-radius: 48% 52% 58% 42% / 60% 65% 35% 40%;
  border: white 2px solid;
}
.blob3{
  object-fit: cover;
  object-position: center;
  height: 11rem;
  width: 11rem;
  border-radius: 48% 52% 58% 42% / 60% 65% 35% 40%;
  border: white 2px solid;
}

@layer base {
  * {
    @apply select-none outline-none;
  }
 
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}